* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
}
.main {
  position: relative;
  /* z-index: -1; */
}

.firstNavbar {
  position: absolute;
  /* background-color: #373636; */
  top: 0;
  width: 100%;
  z-index: 1;
  font-weight: 600;
  font-size: medium;
  text-align: center;
}

.firstNavbar ul li {
  border-bottom: 1px solid transparent;
}

.firstNavbar ul li:hover {
  border-bottom: 1px solid white;
  transition: 0.25s ease-in-out;
}

.intro {
  height: 100vh;
  width: 100%;
  background-image: url("./assets/images/demos/demo-5/slider/slide-1.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 1rem;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.intro h1 {
  /* font-family: "Times New Roman", Times, serif; */
  /* font-family: cursive; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 10rem;
}

.intro h3 {
  font-family: "poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 3rem;
}

.mainBtn {
  border-radius: 1.5rem;
  border: 0.01rem solid;
  font-size: 1rem;
  padding: 0.3rem 0.75rem;
  border-color: white;
  border-style: 0.01rem;
  background-color: transparent;
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
}

.mainBtn:hover {
  color: orange;
  background-color: white;
  transition: 0.25s ease-in-out;
}

.btnSearch {
  background-color: transparent;
  position: absolute;
  left: 81.5rem;
  color: white;
}

.btnSearch:hover {
  color: #c66;
}

.form-control:focus {
  box-shadow: none;
}

input.form-control.me-2.searchForm {
  border: none;
  border-radius: 0;
  padding-right: 2rem;
  border-bottom: 1px solid #fff;
  /* border-radius: 0px; */
  background: none;
  outline: none;
  position: relative;
  text-align: left;
}

input.form-control.me-2.searchForm::placeholder {
  color: white;
  text-align: left;
}

.wishlist {
  padding-left: 1rem;
  font-size: 1.25rem;
  color: white;
  position: relative;
}

.wishlist:hover {
  color: #c66;
}

.wishlistNumber {
  position: absolute;
  font-size: 0.7rem;
  border-radius: 50%;
  background-color: #c66;
  width: 40%;
  height: 50%;
  top: 0rem;
  left: 2rem;
}

.addCart {
  padding-left: 1rem;
  font-size: 1.25rem;
  color: white;
  position: relative;
}

.addCart:hover {
  color: #c66;
}

.addCartNumber {
  position: absolute;
  font-size: 0.7rem;
  border-radius: 50%;
  background-color: #c66;
  width: 40%;
  height: 50%;
  top: 0rem;
  left: 2rem;
}

.addCartNumber:hover {
}

#hero {
  height: 630px;
}

/* .............banner 1.............. */
.banner1 {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 630px;
  height: 630px;
  background-image: url("./assets/images/demos/demo-5/banners/banner-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner1Details {
  width: 40rem;
  height: 37rem;
  color: white;
  text-align: left;
  border: 0.35rem solid rgba(255, 255, 255, 0.559);
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.2rem;
  padding-left: 1rem;
}

.banner1Details:hover {
  background-color: #ffffff48;
  transition: all 0.25s ease-in-out;
}

.banner1Details h5 {
  font-size: 1rem;
}

.banner1Details h5:hover {
  color: #bf4040;
  transition: all 0.3s ease;
}

.banner1Details h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.banner1Details a {
  text-decoration: none;
  border-bottom: 0.1rem solid transparent;

  color: white;
}

.banner1Details a:hover {
  color: #bf4040;
  border-bottom: 0.1rem solid #c66;

  transition: all 0.3s ease;
}
/* .............banner 1.............. */

/* .............banner 2.............. */
.banner2 {
  height: 630px;
}

/* ....subBanner1.... */

.subBanner1 {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 630px;
  height: 300px;
  background-image: url("./assets/images/demos/demo-5/banners/banner-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.subBanner1Details {
  width: 40rem;
  height: 17rem;
  color: white;
  text-align: left;
  border: 0.35rem solid rgba(255, 255, 255, 0.559);
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.2rem;
  padding-left: 1rem;
}

.subBanner1Details:hover {
  background-color: #ffffff48;
  transition: all 0.25s ease-in-out;
}

.subBanner1Details h5 {
  color: #999;
  font-size: 1rem;
}

.subBanner1Details h5:hover {
  color: #bf4040;
  transition: all 0.3s ease;
}

.subBanner1Details h3 {
  font-size: 1.5rem;
  color: #333;
  font-weight: bold;
}

.subBanner1Details a {
  text-decoration: none;
  border-bottom: 0.1rem solid transparent;

  color: #999;
}

.subBanner1Details a:hover {
  color: #bf4040;
  border-bottom: 0.1rem solid #c66;

  transition: all 0.3s ease;
}

/* ....subBanner2.... */

.subBanner2 {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 630px;
  height: 300px;
  background-image: url("./assets/images/demos/demo-5/banners/banner-3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.subBanner2Details {
  width: 40rem;
  height: 17rem;
  color: white;
  text-align: left;
  border: 0.35rem solid rgba(255, 255, 255, 0.559);
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.2rem;
  padding-left: 1rem;
}

.subBanner2Details:hover {
  background-color: #ffffff48;
  transition: all 0.25s ease-in-out;
}

.subBanner2Details h5 {
  color: #999;
  font-size: 1rem;
}

.subBanner2Details h5:hover {
  color: #bf4040;
  transition: all 0.3s ease;
}

.subBanner2Details h3 {
  font-size: 1.5rem;
  color: #333;
  font-weight: bold;
}

.subBanner2Details a {
  text-decoration: none;
  border-bottom: 0.1rem solid transparent;

  color: #999;
}

.subBanner2Details a:hover {
  color: #bf4040;
  border-bottom: 0.1rem solid #c66;

  transition: all 0.3s ease;
}
/* .............banner 2.............. */
/* ......................video banner................... */
.videoBanner {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "poppins", sans-serif;
  color: white;
  margin: 5rem 0;
  background-image: url("./assets/images/demos/demo-5/bg-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 75vh;
}

.videoBanner h1 {
  font-weight: 900;
  font-size: 4rem;
}

.vido/* ......................video banner................... */;
